{% extends "base.html" %}
{% block title %}Market Egzoni{% endblock %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesindex.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/productstyle.css') }}">
<body>
<div class="main" id="section1" style="margin: 0px 0px 0px 0px;">

    <div style="text-align: right; margin-top: 20px; margin-right: 20px;">
        <div class="dropdown" style="text-align: left;" id="search">
            <input onclick="mysearchFunction()" type="text" placeholder="Kërko..." id="myInput"
                   onkeyup="filtersearchFunction()" class="borderbox1">
            <div id="myDropdown" class="dropdown-content">
                <a href="home">Market Egzoni</a>
                {% for item in values1 %}
                {% if item.category=="Ushqime" %}
                <a href="ushqime#{{item.product}}">{{item.product}}</a>
                {% endif %}
                {% if item.category=="Pije" %}
                <a href="pije#{{item.product}}">{{item.product}}</a>
                {% endif %}
                {% if item.category=="Higjienë" %}
            <a href="higjienë#{{item.product}}">{{item.product}}</a>
            {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid"
     style="position: fixed; margin: -65px 0px 0px 0px; display: block; cursor: pointer; z-index: 99;">
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
    <div class="alert" style="position: absolute;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{msg}}</strong>
    </div>
    {% endfor %}
    {% endwith %}
</div>
    <p style="font-family: 'stencil'; text-align: center; color: #d62217; font-size: 65px; margin: 0px 0px 0px 0px; padding-top: 30px;"
       id="btngroup1">
        <img src="static/images/logo1.png" height="80px"> <img src="static/images/cart.png" height="70px"
                                                               style="margin-bottom: 30px;"></p>

    <p style="font-family: 'stencil'; text-align: center; color: #d62217; font-size: 65px; margin: -80px 0px 0px 0px; padding-top: 30px;"
       id="btngroup">
        <img src="static/images/logo1.png" height="150px"> <img src="static/images/cart.png" height="140px"
                                                                style="margin-bottom: 30px;"></p>


    <div class="container-fluid" style="color: #d62217; margin-top: 25px;">
        <h2>Çka është Market Egzoni?</h2>
        <div id="example1">
            <p style="font-size: 25px; color:white;">Market Egzoni jemi një biznis ushqimor ku lokacionin e marketit
                tonë e kemi në fshatin Manastirc-Ferizaj. Aty filluam si një mini-market por duke punuar çdo ditë drejt
                qëllimit tonë, sot furnizojmë të gjithë rajonin e Ferizajit duke përfshirë Shtimen dhe Lipjanin.
            </p>
            <p style="font-size: 25px; color:white;">
                Ne bëjmë ofrimin e produkteve ushqimore dhe produkteve të marketeve në përgjithësi informatat e së
                cilave mund ti gjeni në linkat e lart përmendur "Ushqime, Pije dhe Higjienë".

            </p>
            <p style="font-size: 25px; color:white;">
                Ideja jonë me këtë webfaqe është qe të ja bëjmë sa më të lehtë dhe sa më të arritshëm produktet tona tek
                ju.<br>
                Me këtë webfaqe ju mund ti shikoni produktet dhe ofertat tona për ato produkte dhe në të njejtën kohë
                mund edhe ti porositni ato. Porosia juaj arrinë në një ditë të caktuar të javës, varësisht nga vendi në
                të cilën gjendeni.</p>
            <p style="font-size: 25px; color:white;">
            </p>
        </div>
        <a href="#section2" style="color: #007bff;">
            <div class="indicator" style="margin-left: 48.5%; opacity: 1.0; margin-bottom: 100px; margin-top: 100px;">
                <span></span>
            </div>
        </a>

    </div>

</div>


<div class="main" id="section2" style="padding-top: 80px;">
    <div class="container" style="color:white;">
        <p style="font-size: 25px; color:#d62217;">
            Ne mundohemi te jemi sa më profesionistë në punën tonë por nëse ke ndonjë problem ose mendon se mund të
            ndryshojmë ndonjë gjë në webfaqe ose në mënyrën se si po funksionon porosia online atëherë na kontaktoni në
            informatat më poshtë.
        </p>
        <div id="example3">
            <div class="container"
                 style="margin: 30px 0px 100px; display: block; margin-left: auto; margin-right: auto; width: 40%;"
                 id="example2">
                <ul>
                    <li>Phone: +383 49 793 208</li>
                    <li>Gmail: eol.nuha22@gmail.com</li>
                    <li>Email: olinuha08@hotmail.com</li>
                    <li>Facebook: Eol Nuha</li>
                    <li>Instagram: eol.nuha</li>
                </ul>

            </div>
        </div>
        <div id="example4">
            <div class="container"
                 style="margin: 30px 0px 100px; display: block; margin-left: auto; margin-right: auto; width: 100%;"
                 id="example5">
                <ul>
                    <li>Phone: +383 49 793 208</li>
                    <li>Gmail: eol.nuha22@gmail.com</li>
                    <li>Email: olinuha08@hotmail.com</li>
                    <li>Facebook: Eol Nuha</li>
                    <li>Instagram: eol.nuha</li>
                </ul>

            </div>
        </div>
        <div style="text-align: center;">
            <p style="font-size: 25px; color:#d62217;">Mund të na dërgoni kërkesën tuaj direkt në emailin tonë duke
                e shkruar kërkesën e juaj më poshtë.</p>
                <button onclick="document.getElementById('id00').style.display='block'" style="width:auto; margin-bottom: 100px;" class="button1">Kërkesa juaj</button>

                <div id="id00" class="modal">
                  
                  <form class="modal-content animate" method="post">
                    <div class="imgcontainer">
                        <h1 style="color: #d62217;">Kërkesa/Ankesa Juaj</h1>
                      <span onclick="document.getElementById('id00').style.display='none'" class="close" title="Anulo">&times;</span>
                    </div>
                    
                
                    <div class="container-fluid">
                        <input class="container-fluid textareastyle" type="text" name="emri" placeholder="Emri dhe Mbiemri" required minlength="4" style="height: 50px;">
                        <input class="container-fluid textareastyle" type="text" name="adresa" placeholder="Adresa" required style="height: 50px;">
                        <input class="container-fluid textareastyle" type="text" name="titulli" placeholder="Titulli i kërkesës" required minlength="4" style="height: 50px;">
                        <textarea class="container-fluid textareastyle" name="name" placeholder="Arsyeja e kërkesës suaj" rows="5" cols="60" required minlength="10"
                       ></textarea><br>
                
                    </div>
                
                    <div class="container-fluid" style="background-color:#f1f1f1">
                      <button type="button" onclick="document.getElementById('id00').style.display='none'" class="cancelbtn button1">Anulo</button>
                      <input type="submit" name="ankes" value="Dërgo" class="cancelbtn button1">
                    </div>
                  </form>
                </div>
                </div>
        </div>
    </div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById('id00');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
</body>
{% endblock %}

