<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market Egzoni - Porosia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="static/images/logo2.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
{% extends "base.html" %}
{% block title %}Ushqime{% endblock %}
{% block content %}
<style>
    ::placeholder {
  color:  #007bff;
  opacity: 1.0;
}


#section1
{
}

.eoli:hover {
     opacity: 0.85;
}
.closebtn1 {
  padding: 2px;
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn {
padding: 3px;
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: grey;


.badge{
background-color: #D63D17;
height: 23px;
width: auto;
font-size: 17px;
padding: 5px;
}

</style>

<script>
    function random()
    {
       var a=document.getElementById('category').value;
       if(a==="Ushqime")
       {
            var array=["Qipsa", "Smoka", "Torte", "Perime"];
       }
       else if(a==="Pije")
       {
            var array=["Coca-Cola", "Fanta", "Pepsi", "Sprite", "Ice-Tea"];
       }
       else if(a==="Higjienë")
       {
            var array=["Paloma-Banjo", "Domestos", "Sapun i Lengshem", "Paloma-Kuzhine"];
       }
       else
       {
            var array=["Select product"];
       }
       var string="";
       for(i=0;i<array.length;i++)
       {
           string=string+"<option>"+array[i]+"</option>";
       }
       string="<select class='container-fluid' name='product' style='margin-bottom: 20px; width: 700px; height: 50px; border: none; color:#007bff;'>"+string+"</select>";
       document.getElementById('output').innerHTML=string;
}

</script>

<body style="background-color: #FF4C20; color: white;">
<div style="padding-bottom: 50px;">


    <div style="text-align: center;">
        <h1 style="padding-top: 50px; font-size: 60px; margin-bottom: 100px; color: white;">Porosit tani!</h1>
        <div class="container" style="margin-top: 5px; text-align: center;">
            <div style="margin-bottom: 5px;">


                <table class="table" style="color: white;">
                    {% if not length == 0 %}
                    <thead>
                    <tr>
                        <td><strong style="font-size: 30px;">Kategoria</strong></td>

                        <td><strong style="font-size: 30px;">Produkti</strong></td>

                        <td><strong style="font-size: 30px;">Sasia</strong></td>

                        <td><strong style="font-size: 30px;">Çmimi<br></strong><i style="font-size: 16px;">për një</i></td>

                        <td><strong style="font-size: 30px;">Çmimi<br></strong><i style="font-size: 16px;">për të gjitha</i></td>
                    </tr>
                    </thead>
                    {% endif %}

                    <tbody>

                    {% for item in orders %}

                    <tr>
                        <td><strong><i>{{item.category}}</i></strong></td>

                        <td><strong><i>{{item.product}}</i></strong></td>

                        <td><strong><i>{{item.quantity}}</i></strong></td>

                        <td><strong><i>{{item.qmimi}} €</i></strong></td>

                        <td><strong><i>{{item.price}} €</i></strong></td>
                        <td><form method="post">

                        <input class="eoli" type="submit" name="remove{{item.id}}"
                               style="color: #d62217; border-radius: 4px; width: 25px; height: 25px; border: none;"
                               value="X">


                    </form>
                        </td>
                    </tr>



                    {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>
        <div>

            <div class="btn-group" style="text-align: center; margin: 15px 0px 15px">
                <button class="btn btn-primary btn-lg" style="background-color: #d62217; border: none;">
                    Total : {{total}} €
                </button>

            </div>
            {% if not length == 0 %}
            <div class="btn-group" style="text-align: center; margin: 15px 0px 5px;">
                <form method="post">
                    <p><input class="eoli" type="submit" name="submit1"
                              style="color: #d62217; width: 80px; height: 36px;"
                              value="Fshij"></p>
                </form>
            </div>
            {% endif %}
        </div>
    </div>


    <div style="text-align: center; margin-top: 100px;">
        <form method="post">
            <p>Ke të gjitha që të nevojiten? <b style="font-size: 18px;">Shtyp butonin që të porositni tani!</b></p>
            <p><strong><input class="eoli" type="submit" name="order"
                              style="color: #d62217; width: 100px; height: 36px; margin-bottom: 20px;"
                              value="Porosit"></strong></p>
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    {% if msg=="Porosia është e zbrazët!" %}
    <div style="text-align: center;">
                <span class="badge" style="background-color: red; border: none;">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <span class="closebtn1">{{msg}}</span>
                </span>
        </div>
    {% endif %}
    {% if msg=="Nuk ka sasi të mjaftueshme në depo!" %}
    <div style="text-align: center;">
                <span class="badge" style="background-color: red; border: none;">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <span class="closebtn1">{{msg}}</span>
                </span>
        </div>
    {% endif %}
    {% if msg=="Porosia është dërguar me sukses!" %}
    <div style="text-align: center;">
                <span class="badge" style="background-color: green; border: none;">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <span class="closebtn1">{{msg}}</span>
                </span>
        </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>
</body>
</html>
{% endblock %}