{% extends "base.html" %}
{% block title %}Market Egzoni - Higjienë{% endblock %}
{% block content %}

<style>
    body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
* {box-sizing: border-box}
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
@media only screen and (max-width: 750px) {
    #searchremove {
        display: none;
    }
}
@media only screen and (min-width: 750px) {
    #searchremove1 {
        display: none;
    }
}
@media only screen and (max-width: 1000px) {
    #pic {
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    #pic1 {
        display: none;
    }
}
.badge{
background-color: #D63D17;
height: 23px;
width: auto;
border-radius: 50%;
font-size: 17px;
}
.alert {
  padding: 5px;
  background-color: black;
  color: white;
  height: auto;
  text-align: center;
  display: block
   margin-left: auto;
   margin-right: auto;
   width: 98%;
}

.closebtn {
  padding: 5px;
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: grey;

</style>
<body>
<div style="text-align: right; margin-top: 20px; margin-right: 20px;">
    <div class="dropdown" style="text-align: left;" id="search">
        <input onclick="mysearchFunction()" type="text" placeholder="Kërko..." id="myInput"
               onkeyup="filtersearchFunction()" class="borderbox1">
        <div id="myDropdown" class="dropdown-content">
            <a href="home">Market Egzoni</a>
            {% for item in values1 %}
            {% if item.category=="Ushqime" %}
            <a href="ushqime#{{item.product}}">{{item.product}}</a>
            {% endif %}
            {% if item.category=="Pije" %}
            <a href="pije#{{item.product}}">{{item.product}}</a>
            {% endif %}
            {% if item.category=="Higjienë" %}
            <a href="higjienë#{{item.product}}">{{item.product}}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid"
     style="position: fixed; margin: -65px 0px 0px 0px; display: block; cursor: pointer; z-index: 99;">
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
    <div class="alert" style="position: absolute;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{msg}}</strong>
    </div>
    {% endfor %}
    {% endwith %}
</div>
<div id="searchremove"><p style="text-align: center; color: #d62217; font-size: 65px; margin: -70px 0px 0px 0px">
    Higjienë</p></div>
<div id="searchremove1"><p style="text-align: center; color: #d62217; font-size: 65px; margin: 0px 0px 0px 0px">
    Higjienë</p></div>


<div class="main" id="section1" style="margin: 0px 0px 0px 0px; padding-bottom: 100px;">
    <div class="container-fluid" style="color: #d62217;">
        <h2>Cilat produkte përfshihen ne sektorin Higjienë?</h2>
        <p style="font-size: 25px; color:black; opacity: 0.7;">
            Ne sektorin <strong>Higjienë</strong> përfshihen artikuj të ndryshëm si : <strong>detergjenta, pastë të
            dhëmbëve, kimikale për tualet</strong>, si dhe shumë artikuj të tjerë të ngjashëm me këto.<br>
            Më poshtë janë të gjitha produktet të cilat gjenden ne depot tona. Në pjesën e lartë
            te fotos është emri i produktit si dhe cmimi i atij produkti.<br>
            Për të gjithë produktet që ju keni nevojë, shkruaj sasinë për aq sa ju keni nevojë dhe shtypni <strong>"Shto
            në listë"</strong>. Pastaj për të porositur shkoni në linkun e rrumbullaksuar më poshtë dhe
            <strong>porosit.</strong>
        </p>
        <div id="pic">
            <img src="static/images/tell2.png"
                 style="display: block; margin-left: auto; margin-right: auto;width: 70%; opacity: 0.9; border-radius: 12px;">
        </div>
        <div id="pic1">
            <img src="static/images/tell2.png"
                 style="display: block; margin-left: auto; margin-right: auto;width: 100%; opacity: 0.9; border-radius: 12px;">
        </div>


    </div>
    <div class="slideshow-container" style="color: white;">
        {% for item in values1 %}
        {% if item.category=="Higjienë" %}
        <div style="color: white; margin-top: 200px;" id="{{item.product}}">
            <form method="post">
                <div class="mySlides99" style="text-align: center;">
                    <p style="color: #d62217;">{{item.product}} - cmimi {{item.price}} €</p>
                    <p style="color: #d62217;">Sasia në depo - <span class="badge">{{item.quantity}}</span></p>
                    <img src="static/images/{{item.product}}.png" style="height:400px;">
                    <p><input class="container-fluid borderbox" type="number" name="quantity"
                              pattern="[0-9]*" min="1"
                              placeholder="Sasia"
                              style="margin-bottom: 0px; width: 130px; height: 36px; border: none; color: #d62217;"
                              required><br><input class="eoli" type="submit" name="submit{{item.product}}"
                                                  style="background-color: #D63D17; color: white; width: 130px; height: 36px; margin-bottom: 0px; margin-top: 5px;"
                                                  value="Shto në listë">
                    </p>
                </div>
            </form>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>
</body>
{% endblock %}
