{% extends "base.html" %}
{% block title %}user{% endblock %}
{% block content %}
<div style="margin-top: 50px;" class="container-fluid">

    <table class="table" style="color: white;">
                    <thead style="color: black;">
                    <tr>
                        <td><strong style="font-size: 30px;">Name</strong></td>
                        <td><strong style="font-size: 30px;">Email</strong>
                        <td><strong style="font-size: 30px;">Phone</strong></td>
                        <td><strong style="font-size: 30px;">Password</strong></td>

                    </tr>
                    </thead>
        {% for item in values %}

                    <tbody style="color: black">

                    <tr>
                        <td><strong><i>{{item.name}}</i></strong></td>
                        <td><strong><i>{{item.email}}</i></strong></td>
                        <td><strong><i>{{item.phone}}</i></strong></td>
                        <td><strong><i>{{item.password}}</i></strong></td>
                    </tr>

                    </tbody>
        {% endfor %}
                </table>


</div>
{% endblock %}