{% extends "base.html" %}
{% block title %}user{% endblock %}
{% block content %}
<div style="margin-top: 50px;" class="container">

    <table class="table" style="color: white;">
                    <thead style="color: black;">
                    <tr>
                        <td><strong style="font-size: 30px;">Produkti</strong></td>

                        <td><strong style="font-size: 30px;">Sasia në depo</strong></td>

                    </tr>
                    </thead>
        {% for item in values1 %}

                    <tbody style="color: black">

                    <tr>
                        <td><strong><i>{{item.product}}</i></strong></td>

                        <td><strong><i>{{item.quantity}}</i></strong></td>
                        <td>


                        </td>
                    </tr>

                    </tbody>
        {% endfor %}
                </table>


</div>
{% endblock %}
